<%  # Do nothing, prevent layout from displaying messages
content_for :messages do %>

<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-4 login-photo">
      <%= image_tag 'ahec_east_clinic' %>
    </div>
    <div class="col-md-4 login-logo">
        <h1 class="title text-center">
          <b>
            ALREDI
          </b>
        </h1>
    </div>
    <div class="col-md-4 login-photo">
      <%= image_tag 'ne_ahec_class' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <h2 class="text-center">AHEC Learner Research & Evaluation Data for Improvement</h2>
    </div>
  </div>
  <div class="row y2-padding">
    <div class="col-md-4 login-photo">
      <%= image_tag 'ahec_scholars_logo' %>
    </div>
    <div class="col-md-4">
      <div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="form-group">
            <%= f.label :login %>
            <%= f.text_field :login, class: 'form-control', placeholder: "Enter username/email" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= link_to("(Forgot Password)", new_user_password_path, id:"forget-password", class:"forget-password") %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>
          <div class="checkbox">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>Remember me
            <% end %>
          </div>

          <%= f.submit "Sign in", class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 login-photo">
      <%= image_tag 'sw_ahce_scholars' %>
    </div>
  </div>
</div>
